#wrapper{
    width: 960px
}

.font{
    font-family: "Helvetica Neue", serif;
}

.marginCenter{
    margin-left: auto;
    margin-right: auto;
}

#topSection{
    height: 130px;
    line-height: 130px;
}

#logo{
    height: 130px;
}

.floatLeft{
    float: left;
}

.logoSpace{
    width: 300px;
}