#wrapper{
    width: 960px
}

#topSection{
    height: 130px;
    line-height: 130px;
}

#logo{
    height: 130px;
}

#menu{
    margin: auto;
}

#middleSection{
    background-image: url("../images/car.jpg");
    background-size: cover;
    height: 554px;
    position: relative;
}

#middleSection h1{
    position: relative;
    top: 110px;
    left: 30px;
}

#middleSection h2{
    position: relative;
    top: 130px;
    left: 310px;
    color: blue;
}

.font{
    font-family: "Helvetica Neue", serif;
}

.marginCenter{
    margin-left: auto;
    margin-right: auto;
}

.floatLeft{
    float: left;
}

.logoSpace{
    width: 300px;
}

.textRight{
    text-align: right;
}

.menuWidth{
    width: 630px;
}

.displayInline{
    display: inline;
}

.menuRightPadding{
    padding-right: 10px;
}

.clearMarginPadding{
    margin: 0;
    padding: 0;
}

.clearFix{
    clear: both;
}

.header1edit{
    color: azure;
    margin: 0;

}

.header2edit{
    margin: 0;

}